* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: slategrey;
}

div {
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  background-color: black;
}
a,
ul {
  text-decoration: none;
  list-style: none;
  color: white;
  padding: 5px;
}
